[user]
	name = 
	email = 
[grep]
	extendRegexp = true
	lineNumber = true
[push]
	default = current
[difftool "sourcetree"]
	cmd = 'C:/Program Files (x86)/WinMerge/WinMergeU.exe' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = 'C:/Program Files/KDiff3/kdiff3.exe' \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true
[alias]
	ggrep = grep --break --heading --line-number
	st = status
	br = branch
	ci = commit
	co = checkout
	up = "!git remote update -p; git merge --ff-only @{u}"
	alias = config --get-regexp ^alias\\.
	ut = ls-files --others --exclude-standard
	mo = ls-files --modified --exclude-standard
	in = "!f(){ git log --stat=250 --no-merges $1..${2:-origin}/$1; }; f"
	out = "!f() { git log --stat=250 --no-merges ${2:-origin}/$1..$1; }; f"
	staged = diff --name-status --cached
	ls = ls-files
	addm = add -u
	rf = remote -v update #Remote Refresh
	bs = branch -vv #Branch Status
    rfs = "!f() { git rf && echo && git bs; }; f" #Remote Refresh Branch Status
	pmerge = "!f() { git merge --no-commit --no-ff --stat $1; }; f" #Preview Merge
	ignored = !git ls-files -v | grep "^[[:lower:]]" #List Ignored Files
	ignore = "!f() { git update-index --assume-unchanged $1; }; f" #Ignore File
	track = "!f() { git update-index --no-assume-unchanged $1; }; f" #Track Ignored File
	glog = log --graph --decorate
	hist = log --graph --decorate --pretty=oneline --abbrev-commit --all
	slog = log -w -b --no-merges #Ignores Whitespace on Log
	flog = "!f() { git log --stat=250 -p -w -u --no-merges $@ $(fzf); }; f"
	stlog = "!f() { git log --stat=250 --no-merges $@ $(fzf); }; f"
	sdiff = diff -w -b #Ignores Whitespace on Diff
	sr = show-ref
	stash-ua = "!git stash show -p stash@{${1:-0}} | git apply -R"
	rl = rev-list
	dllclean = clean -fxd -- '*.dll' ./
	smup = submodule update --remote --merge
	tasks = grep -h -e '^task.build-' --or \\( -e '^task.install-' \\) psake_scripts/
[color]
	ui = auto
	interactive = auto
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
[color "diff"]
	added = green bold
	changed = yellow bold
	untracked = red bold
[gui]
	recentrepo =
[merge]
	tool = kdiff3
[credential]
[diff]
	guitool = kdiff3
	renamelimit = 3883
[core]
	editor = vim
	autocrlf = true
	preloadindex = true
	fscache = true
	excludesfile = ~/.gitignore_global
	whitespace = cr-at-eol
[mergetool "kdiff3"]
	path = C:/Program Files/KDiff3/kdiff3.exe
[difftool "kdiff3"]
	path = C:/Program Files/KDiff3/kdiff3.exe
[http]
	sslVerify = false